@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  */
    /* background: linear-gradient(to bottom, #eff2f4, #f1f4f6, #6d7675e7);
    background-size: cover; */

.containerg{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/premium-vector/illustration-design-online-banking_203633-4334.jpg?w=2000");
}


.bank{
    width: 350px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgba(11, 35, 213, 0.416);
    border: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1{
    font-size: 1.6rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    height: 35px;
    outline: none;
    border: 1px solid #fff;
    padding: 12x 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button{
    font-size: 1rem;
    margin: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: blue
}

button:hover{
    background: rgba(17, 107, 143, 0.877);
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}

/* .terms a{
    color: rgb(227, 235, 239);
    text-decoration: none;
} */

/* .member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #eee4e4;
} */
.member a{
    color: rgb(11, 11, 11);
    text-decoration: none;
}

/* .recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
    
} */

/* .recover a{
    text-decoration: none;
    color: #f2f2f9;
} */