<div class="containerg">
    <div class="body">
<body>




<div class="parent">
    <div>
        <h1 style="color: rgb(22, 21, 22);text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome {{user}}</h1>
        <!-- <a routerLink="/transaction" style="text-decoration: none;">Transaction History</a> -->
        <button style="width: 150px; height: 70px;" routerLink="/transaction" >Transaction History</button>

        
<button style="float: right; background: rgb(241, 241, 59);width: 100px;" (click)="logout()">Logout</button>
<button style="float: right; background: rgb(231, 43, 62);width: 100px;" (click)="delete()">Delete</button>
    </div>
    <h4>System Date and time : {{sdate | date : 'short'}}</h4>
    <app-delete [item]="acno" (onCancel)="onCancel()" (onDelete)="onDelete($event)"></app-delete>
    
    <div class="child" [ngClass]="acno? 'style1':''">
        <div class="bank">
            
            <h1>Deposit</h1>
            <form action="#" [formGroup]="depositForm">
            <input formControlName="acno" type="text" name="Account number" placeholder= " Account number" id="depo_acno">
            <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched" style="color: red;">Invalid Account number</div>

            <input formControlName="pswd" type="password" name="password" placeholder="  Password" id="depo_pswd">
            <div *ngIf="this.depositForm.get('pswd')?.errors && this.depositForm.get('pswd')?.touched" style="color: red;">Invalid Password</div>

            <input formControlName="amount" type="text" name="userName" placeholder="  Amount" id="depo_amount">
            <div *ngIf="this.depositForm.get('amount')?.errors && this.depositForm.get('amount')?.touched" style="color: red;">Invalid Amount</div>


            </form>
            <div class="terms">
               
                <input type="checkbox" id="checked1" value="checked1" >
                <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
            
            </div>
            <button (click)="deposit() " type="submit" value="submit">Deposit</button>
        
     
        </div>  
        
    </div>
    <div class="child" [ngClass]="acno? 'style1':''">
        <div class="bank">
            
            <h1>Withdraw</h1>
            <form action="#" [formGroup]="withdrawForm">
            <input formControlName="acno" type="text" name="Account number" placeholder="Account number" id="with_acno">
            <div *ngIf="this.withdrawForm.get('acno')?.errors && this.withdrawForm.get('acno')?.touched" style="color: red;">Invalid Account number</div>

            <input formControlName="pswd" type="password" name="password" placeholder="Password" id="with_pswd">
            <div *ngIf="this.withdrawForm.get('pswd')?.errors && this.withdrawForm.get('pswd')?.touched" style="color: red;">Invalid Password</div>

            <input formControlName="amount" type="text" name="userName" placeholder="Amount" id="with_amount">
            <div *ngIf="this.withdrawForm.get('amount')?.errors && this.withdrawForm.get('amount')?.touched" style="color: red;">Invalid Amount</div>


            </form>
            <div class="terms">
               
                <input type="checkbox" id="checked1" value="checked1" >
                <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
            
            </div>
            <button (click)="withdraw() " type="submit" value="submit">Withdraw</button>
        
        </div>  

    </div>
</div>

    
</body>
</div></div>